<strong>Reset password</strong>

<p>Hi, {{ name }}! A password reset request was sent to your e-mail. If you didn't send it, we strongly recommend that you change your password.

<p>This is your token: </p>
<p>{{ token }}</p>
